/**************/
/* CSS REMEDY */
/**************/
/* *, *::after, *::before {
	box-sizing:border-box;  
  }
   */

   /* Alle content begint bovenaan */
* {
	margin: 0;
	padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#000000;
	--color-header-link:#000; 
	--color-main-bg-color:#fff;
}

/* ------------------ Img --------------------- */

img {
	height: auto;
	width: 3em;
}
/* ------------------ Main --------------------- */

main {
	background-color: var(--color-main-bg-color);
	border-radius: 1em 1em 0em 0em;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ------------------ Section --------------------- */
section {
	position: relative;
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

section > img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	border-radius: 1em;
	object-fit: cover; 
}

section:first-of-type {
	height: 55em;
}

section * {
	position: relative;
	z-index: 1;
}

section > a {
	background-color: var(--color-main-bg-color);
	padding: 1em;
	margin: 1em 0em;
	width: 7em;
	border-radius: 1em;
	color: var(--color-text);
	text-align: center;
	font-weight: 900;
	text-decoration: none;
}
/* ------------------ Body --------------------- */
body{
	background: black;
}
/* ------------------ Header --------------------- */

header > a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	background-color: white;
	border-radius: 0em 0em 1em 1em; 
	color: var(--color-header-link);
	border: 0.2em solid green;
}

header > ul {
	display:flex;
	justify-content: space-between;
}

/* ------------------ Button --------------------- */


button {
	background-color: unset;
}

/* ------------------ Font --------------------- */
h2 {
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
}

p, a {
	font-family: 'Inconsolata';
	color: white;
}

h3, h4 {
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
}

/* ------------------ Carrousel? --------------------- */
section:nth-of-type(1){
	flex-shrink: 8em;

	display: flex;
	flex-direction: column;

	scroll-snap-align: center;
}





